html, body {
	margin: 10px auto;
	width: 500px;
	font-family: Helvetica, sans-serif;
	background-color: #333;
}

table, tr {
	border: 1px solid;
	border-radius: .5em;
	background-color: white;	
}

td {
	border-bottom: 1px solid;
}

#unsorted {
	float: left;
	width: 50%;

}

#sorted {
	float: right;
}