html, body {
	margin: 10px auto;
	width: 700px;
	font-family: Helvetica, sans-serif;
}

table, tr {
	border: 1px solid;

}

td {
	border-bottom: 1px solid;
}
/*#nums {
	border-bottom: 1px solid; 
}
*/


#unsorted {
	float: left;
	width: 50%;

}

#sorted {
	float: right;
}